%form{"action" => "/blogs/#{@blog.id}", "method" => "post"}
  %input{"type"=>"hidden", "value" => "PUT", "name" => "_method"}
  %div
    %input{"type"=>"text", "value" => "#{@blog.title}", "name" => "title"}
  %div
    %textarea{"name" => "body"}
      =@blog.body
  %div
    %input{"type"=>"submit", "value"=>"submit"}
%p
  #{@blog.error_message}
