%p{"style" => "color:red"}
  #{show_error_message(@image)}

%body
  - @images.each do |image_path|
    %img{:src => "#{image_path}"}
  - unless file_exist?(@images)
    %form{:action => "./image", :method => "post", :enctype => "multipart/form-data"}
      %input{:type => "file", :name => "file"}
      %input{:type => "submit", :name => "submit"}
  - if file_exist?(@images)
    %form{"action"=>"./image", "method"=>"post"}
      %input{"type"=>"hidden", "value"=>"DELETE", "name"=>"_method"}
      %input{"type"=>"submit", "value"=>"delete"}
