%ul
  -@blogs.each do |blog|
    %li
      %a{"href" => "/blogs/#{blog.id}"}
        =blog.title
      %span{"style" => "padding-left: 10px;color: red"}
        =message_info(blog)
  %a{"href" => "/blogs?page=#{next_page_id(params[:page])}"}=next_message(params[:page])
 
  %a{"href" => "/blogs?page=#{previous_page_id(params[:page])}"}=previous_message(params[:page]) 
