%ul
  -@blogs[:data].each do |blog|
    %li
      %a{"href" => "/blogs/#{blog.id}"}
        =blog.title
      %span{"style" => "padding-left: 10px;color: red"}
        =message_info(blog)
  %a{"href" => "/blogs?page=#{next_page(@blogs)}"}=next_message(@blogs)
  %a{"href" => "/blogs?page=#{previous_page(@blogs)}"}=previous_message(@blogs)
