%ul
  -@blogs.each do |blog|
    %li
      %a{"href" => "/blogs/#{blog.id}"}
        =blog.title
      %span{"style" => "padding-left: 10px;color: red"}
        =message_info(blog)
  %a{"href" => "/blogs?page=#{next_page_id(params[:page])}"}=check_next_page(@blogs.first)
  %a{"href" => "/blogs?page=#{previous_page_id(params[:page])}"}=check_previous_page(@blogs.last)
