%p{"style" => "color:red"}
  #{show_error_message(@blog)}
  #{show_error_message(@image)}

%form{:action => "/blogs", :method => "post",:enctype => "multipart/form-data" }
  %div
    %input{"type"=>"text", "value" => "#{@blog.title}", "name" => "title"}
  %div
    %textarea{"name" => "body"}
      =@blog.body
  %div
    %input{:type=>"file",:name=>"file"}
  %div
    %input{"type"=>"submit", "value"=>"submit"}
